In [1]:
#dataframe is 2D which is in tabular format
import pandas as pd

#Create a dataframe with a dictionary
data = {'Name':['kingini','tuttu','ikka'],
        'Age':[24,23,24],
        'place':['koovode','mavoor','punoor']
        }
#convert the data into dataframes
df = pd.DataFrame(data)

print (df)

      Name  Age    place
0  kingini   24  koovode
1    tuttu   23   mavoor
2     ikka   24   punoor

In [2]:
#print only names inside dataset
print(df['Name'])

0    kingini
1      tuttu
2       ikka
Name: Name, dtype: object

In [4]:
#print multiple values, give brackets regarding number of dataset displays
print(df[['Name','place']])

      Name    place
0  kingini  koovode
1    tuttu   mavoor
2     ikka   punoor

In [10]:
#particular each row display
print(df.iloc[[2,1]])

    Name  Age   place
2   ikka   24  punoor
1  tuttu   23  mavoor

In [11]:
#display age greater than 23
print(df[df['Age']>23])

      Name  Age    place
0  kingini   24  koovode
2     ikka   24   punoor

In [27]:
#add a new coloumn into the dataframe
df['stipend']=[15000,5000,5000]
print(df)

      Name    place  stipend
0  kingini  koovode    15000
1    tuttu   mavoor     5000
2     ikka   punoor     5000

In [29]:
#remove particular coloumn that have
df = df.drop(columns=['Age'])
print(df)

      Name    place  stipend
0  kingini  koovode    15000
1    tuttu   mavoor     5000
2     ikka   punoor     5000

In [30]:
print(df.describe())

            stipend
count      3.000000
mean    8333.333333
std     5773.502692
min     5000.000000
25%     5000.000000
50%     5000.000000
75%    10000.000000
max    15000.000000