In [13]:
import pandas as pd 

#read the csv file into the dataframe
df=pd.read_csv('C:/Users/adit/Desktop/pandasa/clt.csv')
print(df)

      Name  Age      Place  Salary
0  Kingini   20     Kannur   45000
1    Tuttu   23    Calicut   35000
2   Chinnu   23  Kolathara   35000
3    Dhamu   23    Calicut   40000
4     Ikka   24    Poonoor   60000
5     Angu   24    Palazhi   30000
6  Kuttapi   23  Chevayoor   45000

In [14]:
df=pd.read_csv('C:/Users/adit/Desktop/pandasa/clt.csv',
usecols=['Name','Age','Place'])
print(df)

      Name  Age      Place
0  Kingini   20     Kannur
1    Tuttu   23    Calicut
2   Chinnu   23  Kolathara
3    Dhamu   23    Calicut
4     Ikka   24    Poonoor
5     Angu   24    Palazhi
6  Kuttapi   23  Chevayoor

In [15]:
df=pd.read_csv('C:/Users/adit/Desktop/pandasa/clt.csv',
               dtype={'Age':int,'Salary':float},
usecols=['Name','Age','Place'])
print(df)

      Name  Age      Place
0  Kingini   20     Kannur
1    Tuttu   23    Calicut
2   Chinnu   23  Kolathara
3    Dhamu   23    Calicut
4     Ikka   24    Poonoor
5     Angu   24    Palazhi
6  Kuttapi   23  Chevayoor